table{
    border: 2px solid  blue;
    /* border-collapse: collapse; */
    margin: 0 auto;
}
.title{
    text-align: center;
}
th{
    border: 2px solid  blue;
    /* padding: 10px; */
}
td{
    border: 2px solid  blue;
    /* padding: 10px; */

}

